.container {
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
}

.container * {
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;
}

.titleContainer {
  flex-direction: row;
}

.smallText {
  font-size: 0.80em;
}