.container {
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
  height: 100%;
}

.container * {
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;
}

.titleContainer {
  flex-direction: row;
  flex-wrap: wrap;
}

.smallText {
  font-size: 0.80em;
}

.detailsContainer {
  flex: 1;
  overflow: hidden;
}