.rbc-event-label {
    display: none !important;
}

.rbc-time-view {
  border: none;
}

.rbc-btn-group button {
  color: var(--fg-primary);
}

.rbc-time-view * {
  border-color: var(--fg-secondary) !important;
}

.rbc-day-slot {
  min-width: 150px;
}

.rbc-header {
  min-width: 150px;
}

.rbc-day-slot .rbc-timeslot-group {
  border-bottom: none;
}

.rbc-today {
  background-color: var(--color-card);
}

.rbc-allday-cell {
  display: none;
}

.rbc-timeslot-group {
  min-height: 65px;
}

.rbc-header {
  border: none;
  display: flex;
  min-height: 40px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.rbc-time-header {
  max-width: 100%;
  overflow-x: scroll;
}

.rbc-time-header-content {
  border: 0px 0px 0px 0px;
}

.rbc-time-content {
  border-top: none;
  border-bottom: 1px solid;
}

.rbc-events-container {
  border: none;
}

.rbc-time-gutter .rbc-timeslot-group {
  border: none;
}

.rbc-time-gutter .rbc-timeslot-group .rbc-time-slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc-selected {
  background-color: var(--color-secondary) !important;
}

.rbc-event:focus {
  outline: none;
}

.rbc-current-time-indicator {
  background-color: var(--color-muted-foreground);
}