.container * {
  background-color: var(--bg-secondary);
  color: var(--fg-primary) !important;
}

.control {
  border-radius: 0px !important;
  background-color: var(--bg-secondary) !important;
}

.value-container * {
  background-color: rgba(255, 99, 71, 0) !important;
}

.option {
  background-color: var(--bg-primary) !important;
}

.option:hover {
  background-color: var(--fg-accent) !important;
}

@media (prefers-color-scheme: light) {
  .option:hover {
    color: var(--bg-primary) !important;
  }
}

.multiVal {
  background-color: var(--bg-seperator) !important;
}

.clearIndicator:hover {
  background-color: var(--bg-seperator) !important;
}