button {
  display: flex;
  border: none;
  background-color: var(--fg-accent);
  color: var(--fg-primary);
  flex: 1;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

button:active {
  background-color: var(--fg-accent-pressed);
}

input {
  padding: 10px;
  flex: 1;
  font-size: 1rem;
}

.warning-content {
  background-color: var(--fg-warning);
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  button {
    color: white;
  }
}