button {
  border: none;
  background-color: var(--fg-accent);
  color: var(--fg-primary);
  flex: 1;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

button:active {
  background-color: var(--fg-accent-pressed);
}

input {
  padding: 10px;
  flex: 1;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  button {
    color: white;
  }
}