.container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container * {
  display: flex;
  flex-direction: column;
}

.center {
  min-width: 200px;
  width: 60%;
  max-width: 800px;
}

.banner {
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .center {
    width: 95%;
  }

  .banner {
    width: 90%;
  }
}