@import "tailwindcss";

@media (prefers-color-scheme: light) {
  @theme {
    --color-primary: #3b82f6;
    --color-on-primary: #ffffff;
    --color-background: rgb(255, 251, 255);
    --color-on-background: rgb(32, 26, 25);
    --color-surface: #f2f2f2;
    --color-on-surface: rgb(32, 26, 25);
  }
}

@media (prefers-color-scheme: dark) {
   @theme {
      --color-primary: #60a5fa;
      --color-on-primary: #f3f4f6;
      --color-background: #121212;
      --color-on-background: #f3f4f6;
      --color-surface: #1e1e1e;
      --color-on-surface: #f3f4f6;

   }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-on-background);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

